Repository domaindrivendev/Swashbuckle.AspNetCore, pull requests merged in 2025-04, with the labels that each got.

#3349 Move .NET to D drive on Windows runner
  .github/workflows/build.yml
Labels: .NET, github_actions

#3350 Update to xunit v3
  .github/dependabot.yml
  Directory.Packages.props
  perf/Swashbuckle.AspNetCore.Benchmarks/Swashbuckle.AspNetCore.Benchmarks.csproj
  test/Swashbuckle.AspNetCore.Annotations.Test/Swashbuckle.AspNetCore.Annotations.Test.csproj
  test/Swashbuckle.AspNetCore.Cli.Test/Swashbuckle.AspNetCore.Cli.Test.csproj
  test/Swashbuckle.AspNetCore.IntegrationTests/CustomDocumentSerializerTests.cs
  test/Swashbuckle.AspNetCore.IntegrationTests/DocumentProviderTests.cs
  test/Swashbuckle.AspNetCore.IntegrationTests/ReDocIntegrationTests.cs
  test/Swashbuckle.AspNetCore.IntegrationTests/SwaggerAndSwaggerUIIntegrationTests.cs
  test/Swashbuckle.AspNetCore.IntegrationTests/SwaggerIntegrationTests.cs
  test/Swashbuckle.AspNetCore.IntegrationTests/SwaggerUIIntegrationTests.cs
  test/Swashbuckle.AspNetCore.IntegrationTests/Swashbuckle.AspNetCore.IntegrationTests.csproj
  test/Swashbuckle.AspNetCore.IntegrationTests/VerifyTests.cs
  test/Swashbuckle.AspNetCore.Newtonsoft.Test/SchemaGenerator/NewtonsoftSchemaGeneratorTests.cs
  test/Swashbuckle.AspNetCore.Newtonsoft.Test/Swashbuckle.AspNetCore.Newtonsoft.Test.csproj
  test/Swashbuckle.AspNetCore.SwaggerGen.Test/SchemaGenerator/JsonSerializerSchemaGeneratorTests.cs
  test/Swashbuckle.AspNetCore.SwaggerGen.Test/Swashbuckle.AspNetCore.SwaggerGen.Test.csproj
  test/Swashbuckle.AspNetCore.SwaggerGen.Test/XmlComments/XmlCommentsNodeNameHelperTests.cs
  test/Swashbuckle.AspNetCore.SwaggerGen.Test/XmlComments/XmlCommentsSchemaFilterTests.cs
  test/Swashbuckle.AspNetCore.TestSupport/Attributes/UseInvariantCultureAttribute.cs
  test/Swashbuckle.AspNetCore.TestSupport/Swashbuckle.AspNetCore.TestSupport.csproj
Labels: dependencies, .NET

#3361 Update to ASP.NET Core 10 preview 3
  .github/workflows/build.yml
  Directory.Build.props
  Directory.Packages.props
  global.json
  src/Swashbuckle.AspNetCore.Annotations/AnnotationsDocumentFilter.cs
  src/Swashbuckle.AspNetCore.Annotations/AnnotationsOperationFilter.cs
  src/Swashbuckle.AspNetCore.ApiTesting/ApiTestRunnerBase.cs
  src/Swashbuckle.AspNetCore.ApiTesting/JsonValidation/JsonNumberValidator.cs
  src/Swashbuckle.AspNetCore.SwaggerGen/SchemaGenerator/OpenApiSchemaExtensions.cs
  src/Swashbuckle.AspNetCore.SwaggerGen/SwaggerGenerator/SwaggerGenerator.cs
  src/Swashbuckle.AspNetCore.SwaggerGen/XmlComments/XmlCommentsDocumentFilter.cs
  test/Swashbuckle.AspNetCore.ApiTesting.Test/JsonValidatorTests.cs
  test/Swashbuckle.AspNetCore.IntegrationTests/DocumentProviderTests.cs
  test/Swashbuckle.AspNetCore.IntegrationTests/OpenApiDocumentLoader.cs
  test/Swashbuckle.AspNetCore.IntegrationTests/Swashbuckle.AspNetCore.IntegrationTests.csproj
  test/Swashbuckle.AspNetCore.Newtonsoft.Test/SchemaGenerator/NewtonsoftSchemaGeneratorTests.cs
  test/Swashbuckle.AspNetCore.SwaggerGen.Test/SchemaGenerator/JsonSerializerSchemaGeneratorTests.cs
  test/Swashbuckle.AspNetCore.SwaggerGen.Test/SwaggerGenerator/SwaggerGeneratorTests.cs
  test/Swashbuckle.AspNetCore.SwaggerGen.Test/VerifyTests.cs
  test/WebSites/MvcWithNullable/MvcWithNullable.csproj
  test/WebSites/OAuth2Integration/OAuth2Integration.csproj
  test/WebSites/TestFirst.IntegrationTests/CreateUserTests.cs
  test/WebSites/WebApi/WebApi.csproj
Labels: dependencies, .NET

#3364 Update to fix Lists/Arrays of nullables not getting marked as nullable
  src/Swashbuckle.AspNetCore.SwaggerGen/SchemaGenerator/SchemaGenerator.cs
  test/Swashbuckle.AspNetCore.SwaggerGen.Test/SchemaGenerator/JsonSerializerSchemaGeneratorTests.cs
Labels: bug fix

#3376 Add test analytics
  .github/workflows/build.yml
  .gitignore
  Directory.Build.targets
  Directory.Packages.props
  build.ps1
Labels: dependencies, .NET, github_actions

#3388 Prepare for .NET 10 preview 4
  .gitignore
  Directory.Build.props
  Directory.Packages.props
  README.md
  global.json
  src/Swashbuckle.AspNetCore.Annotations/AnnotationsOperationFilter.cs
  src/Swashbuckle.AspNetCore.ApiTesting/ApiTestRunnerBase.cs
  src/Swashbuckle.AspNetCore.ApiTesting/JsonValidation/JsonNumberValidator.cs
  src/Swashbuckle.AspNetCore.ApiTesting/OpenApiDocumentExtensions.cs
  src/Swashbuckle.AspNetCore.ApiTesting/RequestValidator.cs
  src/Swashbuckle.AspNetCore.ApiTesting/ResponseValidator.cs
  src/Swashbuckle.AspNetCore.SwaggerGen/DependencyInjection/SwaggerGenOptionsExtensions.cs
  src/Swashbuckle.AspNetCore.SwaggerGen/SchemaGenerator/OpenApiSchemaExtensions.cs
  src/Swashbuckle.AspNetCore.SwaggerGen/SchemaGenerator/SchemaGenerator.cs
  src/Swashbuckle.AspNetCore.SwaggerGen/SwaggerGenerator/SwaggerGenerator.cs
  test/Swashbuckle.AspNetCore.IntegrationTests/CustomDocumentSerializerTests.cs
  test/Swashbuckle.AspNetCore.IntegrationTests/DocumentProviderTests.cs
  test/Swashbuckle.AspNetCore.IntegrationTests/ReDocIntegrationTests.cs
  test/Swashbuckle.AspNetCore.IntegrationTests/SwaggerIntegrationTests.cs
  test/Swashbuckle.AspNetCore.IntegrationTests/SwaggerUIIntegrationTests.cs
  test/Swashbuckle.AspNetCore.IntegrationTests/Swashbuckle.AspNetCore.IntegrationTests.csproj
  test/Swashbuckle.AspNetCore.IntegrationTests/TestSite.cs
  test/Swashbuckle.AspNetCore.IntegrationTests/VerifyTests.cs
  test/Swashbuckle.AspNetCore.Newtonsoft.Test/NewtonsoftSerializerTesting.cs
  test/Swashbuckle.AspNetCore.SwaggerGen.Test/ApiDescriptionExtensions/ApiDescriptionExtensionsTests.cs
  test/Swashbuckle.AspNetCore.SwaggerGen.Test/Fixtures/TestParameterFilter.cs
  test/Swashbuckle.AspNetCore.SwaggerGen.Test/Fixtures/TestRequestBodyFilter.cs
  test/Swashbuckle.AspNetCore.SwaggerGen.Test/Fixtures/TestSchemaFilter.cs
  test/Swashbuckle.AspNetCore.SwaggerGen.Test/SchemaGenerator/JsonSerializerSchemaGeneratorTests.cs
  test/WebSites/TestFirst.IntegrationTests/ApiTestsSetup.cs
  test/WebSites/WebApi/EndPoints/OpenApiEndpoints.cs
Labels: dependencies, .NET

#3377 fix schema for nullable enums
  src/Swashbuckle.AspNetCore.Newtonsoft/SchemaGenerator/NewtonsoftDataContractResolver.cs
  src/Swashbuckle.AspNetCore.SwaggerGen/SchemaGenerator/JsonSerializerDataContractResolver.cs
  src/Swashbuckle.AspNetCore.SwaggerGen/SchemaGenerator/SchemaGenerator.cs
  src/Swashbuckle.AspNetCore.SwaggerGen/SwaggerGenerator/SwaggerGenerator.cs
  test/Swashbuckle.AspNetCore.IntegrationTests/snapshots/VerifyTests.SwaggerEndpoint_ReturnsValidSwaggerJson_startupType=Basic.Startup_swaggerRequestUri=v1.DotNet8_0.verified.txt
  test/Swashbuckle.AspNetCore.IntegrationTests/snapshots/VerifyTests.SwaggerEndpoint_ReturnsValidSwaggerJson_startupType=Basic.Startup_swaggerRequestUri=v1.DotNet9_0.verified.txt
  test/Swashbuckle.AspNetCore.IntegrationTests/snapshots/VerifyTests.Swagger_IsValidJson_No_Startup_entryPointType=MvcWithNullable.Program_swaggerRequestUri=v1.DotNet8_0.verified.txt
  test/Swashbuckle.AspNetCore.IntegrationTests/snapshots/VerifyTests.Swagger_IsValidJson_No_Startup_entryPointType=MvcWithNullable.Program_swaggerRequestUri=v1.DotNet9_0.verified.txt
  test/Swashbuckle.AspNetCore.IntegrationTests/snapshots/VerifyTests.Swagger_IsValidJson_No_Startup_entryPointType=WebApi.Program_swaggerRequestUri=v1.DotNet8_0.verified.txt
  test/Swashbuckle.AspNetCore.IntegrationTests/snapshots/VerifyTests.Swagger_IsValidJson_No_Startup_entryPointType=WebApi.Program_swaggerRequestUri=v1.DotNet9_0.verified.txt
  test/Swashbuckle.AspNetCore.IntegrationTests/snapshots/VerifyTests.TypesAreRenderedCorrectly.DotNet8_0.verified.txt
  test/Swashbuckle.AspNetCore.IntegrationTests/snapshots/VerifyTests.TypesAreRenderedCorrectly.DotNet9_0.verified.txt
  test/Swashbuckle.AspNetCore.Newtonsoft.Test/Fixtures/JsonPropertyAnnotatedType.cs
  test/Swashbuckle.AspNetCore.Newtonsoft.Test/Fixtures/JsonRequiredAnnotatedType.cs
  test/Swashbuckle.AspNetCore.Newtonsoft.Test/SchemaGenerator/NewtonsoftSchemaGeneratorTests.cs
  test/Swashbuckle.AspNetCore.SwaggerGen.Test/SchemaGenerator/JsonSerializerSchemaGeneratorTests.cs
  test/Swashbuckle.AspNetCore.TestSupport/Fixtures/TypeWithNullableProperties.cs
  test/Swashbuckle.AspNetCore.TestSupport/Fixtures/TypeWithValidationAttributes.cs
  test/Swashbuckle.AspNetCore.TestSupport/Fixtures/TypeWithValidationAttributesViaMetadataType.cs
  test/WebSites/MvcWithNullable/Program.cs
Labels: bug fix
